.home-container {
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  margin: 2rem;
}
@media only screen and (max-width: 480px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .car-info {
    order: 2;
  }
  .home-container img {
    width: 100% !important;
  }
}

.home-container img {
  width: 50%;
}
.title {
  margin: 0;
  font-size: 3rem;
  font-style: italic;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
  background: -webkit-linear-gradient(45deg, salmon, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-left: 4px solid;
  margin-bottom: 2rem;
}
.review-section h1 {
  margin-top: 3rem;
  text-align: center;
  font-size: 3rem;
}
